<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div class="flex ">
    <app-sidebar class="w-[20%]"></app-sidebar>
    <div class="ml-4 w-[70%]">
      <div class="text-xl font-bold h-16 mt-5">Data Produk</div>
      <button class="bg-green-600 text-white rounded-md mb-2 p-2">Add Product</button>
      <app-table></app-table>
    </div>
  </div>
  <!-- <app-navbar></app-navbar> -->
</body>
</html>